.product-summary {
  display: flex;
  gap: 20px;
}
.product-summary .product-images {
  flex: 1;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  -moz-column-gap: 15px;
       column-gap: 15px;
  row-gap: 10px;
}
.product-summary .product-images .image-container {
  box-shadow: 0 0 15px rgba(221, 200, 200, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.product-summary .product-images .image1 {
  grid-column: span 3;
  grid-row: span 4;
  position: relative;
}
.product-summary .product-images .image1 img {
  width: 300px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-summary .product-images .image1 button {
  position: absolute;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(221, 200, 200, 0.5);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(221, 200, 200, 0.5);
  padding: 5px;
  font-size: 14px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.product-summary .product-images .image1 button:hover {
  font-size: 16px;
}
.product-summary .product-images .image1 .scroll-left {
  left: 20px;
}
.product-summary .product-images .image1 .scroll-right {
  right: 20px;
}
.product-summary .product-images img {
  height: 100px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-summary .product-images img:first-of-type {
  grid-column: span 3;
  grid-row: span 4;
}
.product-summary .product-text {
  flex: 1;
}
.product-summary .product-text .in-stock {
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 5px;
  border: none;
  border-radius: 3px;
  background-color: #25bd01;
  color: rgba(255, 255, 255, 0.7);
  text-transform: capitalize;
  font-size: 12px;
  margin-bottom: 15px;
}
.product-summary .product-text .out-of-stock {
  width: -moz-fit-content;
  width: fit-content;
  padding: 3px 5px;
  border: none;
  border-radius: 3px;
  background-color: red;
  color: rgba(255, 255, 255, 0.7);
  text-transform: capitalize;
  font-size: 12px;
  margin-bottom: 15px;
}
.product-summary .product-text h3 {
  color: #121935;
  font-size: 20px;
  text-transform: capitalize;
}
.product-summary .product-text .customer-reviews {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 5px 0;
}
.product-summary .product-text .customer-reviews .total-reviews {
  font-size: 12px;
}
.product-summary .product-text .price-container {
  display: flex;
  align-items: center;
  margin: 10px 0;
  gap: 20px;
}
.product-summary .product-text .price-container .price-box {
  outline: 1px solid rgba(221, 200, 200, 0.5);
  height: 20px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #121935;
  text-transform: capitalize;
  position: relative;
}
.product-summary .product-text .price-container .price-box::before {
  content: "";
  position: absolute;
  right: -4px;
  height: 5px;
  width: 5px;
  border-right: 1px solid rgba(221, 200, 200, 0.5);
  border-bottom: 1px solid rgba(221, 200, 200, 0.5);
  transform: rotate(-45deg);
  background-color: #fff;
}
.product-summary .product-text .price-container .new-price {
  color: #25bd01;
  font-size: 20px;
  font-weight: bold;
}
.product-summary .product-text .price-container .old-price {
  color: #121935;
  font-size: 12px;
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-thickness: 1.5px;
}
.product-summary .product-text .product-description {
  font-size: 16px;
  color: #121935;
  line-height: 20px;
}
.product-summary .product-text .product-description p {
  margin-bottom: 10px;
}
.product-summary .product-text .product-quantity {
  display: flex;
  align-items: center;
  gap: 2px;
  margin: 20px 0;
}
.product-summary .product-text .product-quantity button {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid rgba(221, 200, 200, 0.5);
  font-size: 16px;
  cursor: pointer;
}
.product-summary .product-text .product-quantity input {
  width: 60px;
  height: 30px;
  text-align: center;
  outline: none;
  border: 1.5px solid rgba(221, 200, 200, 0.5);
}
.product-summary .product-text .product-quantity .total-product-price {
  width: -moz-fit-content;
  width: fit-content;
  height: 30px;
  padding: 0 10px;
  border: 1px solid rgba(221, 200, 200, 0.5);
  display: flex;
  align-items: center;
  color: #25bd01;
  font-weight: bold;
}
.product-summary .product-text .add-cart {
  height: 30px;
  width: 100%;
  background-color: #25bd01;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border-radius: 3px;
  cursor: pointer;
}
.product-summary .product-text .item-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}
.product-summary .product-text .item-icons .icon-symbol {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(221, 200, 200, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #25bd01;
  cursor: pointer;
}
.product-summary .product-text .item-icons .social-icons {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid rgba(221, 200, 200, 0.5);
  border-radius: 30px;
  padding: 5px 0;
}
.product-summary .product-text .item-icons .social-icons .share-icon {
  color: #25bd01;
  font-size: 16px;
  cursor: pointer;
}
.product-summary .product-text .item-icons .social-icons .social-icon-box {
  display: flex;
  align-items: center;
  height: inherit;
}
.product-summary .product-text .item-icons .social-icons .social-icon-box .post-social-icon {
  font-size: 12px;
}
.product-summary .product-text .category {
  display: flex;
  align-items: center;
  gap: 20px;
}
.product-summary .product-text .category h1 {
  font-size: 16px;
  color: #121935;
}
.product-summary .product-text .category span {
  font-size: 12px;
  color: #121935;
}