.menuContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgba(0, 0, 0, 0.6);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding-right: 10px;
  font-size: 18px;
}
.menuContainer .dropdown {
  position: relative;
}
.menuContainer .dropdown button {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  border: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
}
.menuContainer .dropdown .dropdown-menu {
  position: absolute;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 20;
  width: 200px;
  left: -20px;
  top: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.menuContainer .dropdown .dropdown-menu h4 {
  width: 100%;
  text-align: center;
  margin: 5px 0;
}
.menuContainer .dropdown .dropdown-menu .dropdown-list {
  list-style: none;
  padding: 5px 0;
  padding-left: 30px;
  transition: all 0.3s ease-in-out;
  width: 100%;
  color: rgba(0, 0, 0, 0.91);
}
.menuContainer .dropdown .dropdown-menu .dropdown-list:hover {
  border-left: 4px solid #25bd01;
  padding-left: 26px;
  background-color: rgba(221, 200, 200, 0.5);
}
.menuContainer .dropdown .dropdown-menu .dropdown-list .dropdown-item {
  font-size: 16px;
}