.carousel-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.carousel-container .slide-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 400px;
}
.carousel-container .slide-container .carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.carousel-container .slide-container .carousel-item.active {
  opacity: 1;
}
.carousel-container .slide-container .carousel-item.inactive {
  display: none;
}
.carousel-container .indicators {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 20%;
  margin-top: -4rem;
  z-index: 10;
}