@import "../../styles/variables.scss";

.hero {
  background-color: $section-bg;
  padding: 100px 14rem 50px 15rem;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
