.newsletter {
  background: linear-gradient(to right, #38f9d7, #43e97b);
  padding: 40px 50px;
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  width: calc(100vw - 30rem);
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.newsletter div h1 {
  font-size: 24px;
}
.newsletter div p {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
}
.newsletter form {
  background-color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  position: relative;
  height: 40px;
}
.newsletter form input {
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;
  padding: 5px;
}
.newsletter form input::-moz-placeholder {
  opacity: 0.5;
}
.newsletter form input::placeholder {
  opacity: 0.5;
}
.newsletter form button {
  border: none;
  background: linear-gradient(to right, #38f9d7, #43e97b);
  padding: 0 20px;
  border-radius: 20px;
  position: absolute;
  font-size: 12px;
  color: #121935;
  font-weight: bold;
  width: 100px;
  right: 5px;
  bottom: 5px;
  height: 30px;
}