@import "../../styles/variables.scss";

.carousel-left {
  flex: 1;
  height: inherit;

  h1 {
    text-transform: capitalize;
    color: $main-bue;
    margin-bottom: 1.5rem;
    font-size: 30px;

    span {
      color: $main-green;
    }
  }

  p {
    font-size: 16px;
  }

  .carousel-buttons {
    display: flex;
    margin-top: 1.5rem;
    gap: 30px;
    align-items: center;
    justify-content: start;

    button {
      padding: 10px 30px;
      background-color: $main-green;
      border: none;
      color: rgba(255, 255, 255, 0.75);
      text-transform: capitalize;
      font-weight: 600;
      border-radius: 5px;
      cursor: pointer;
    }

    .blinking {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: rgba($main-green, 0.3);
      display: flex;
      align-items: center;
      justify-content: center;

      .second-ring {
        width: 39px;
        height: 39px;
        border-radius: 50%;
        background-color: rgba($main-green, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;

        .inner-ring {
          width: 27px;
          height: 27px;
          border-radius: 50%;
          background-color: $main-green;
          display: flex;
          align-items: center;
          justify-content: center;

          .solid-arrow {
            color: #fff;
            font-size: 12px;
          }
        }
      }
    }
  }
}
