@import "../../styles/variables.scss";

.offer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 250px;
  box-shadow: 0 0 15px rgba($section-bg, 0.8);
  margin-top: 20px;
  padding: 10px;

  .obcarouselitem {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;

    &.active {
      opacity: 1;
    }

    &.inactive {
      display: none;
    }

    .car_image {
      flex: 1;
      height: inherit;
      display: flex;
      place-items: center;

      img {
        object-fit: cover;
        width: 160px;
        height: 160px;
        border-radius: 50%;
      }
    }

    .car_text {
      flex: 1;
      height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 3rem;
      margin-bottom: 2rem;

      .category {
        color: $section-bg;
        font-size: 14px;
        text-transform: capitalize;
        font-weight: 600;
      }

      h1 {
        color: $main-bue;
        text-transform: capitalize;
        font-size: 18px;
      }

      .ratings {
        display: flex;
        gap: 0;

        .star-rating {
          color: $main-green;
          font-size: 0.8rem;
        }
      }

      .prices {
        display: flex;
        gap: 20px;
        font-size: 18px;
        font-weight: bold;

        .new_price {
          color: $main-green;
        }

        .old_price {
          color: $main-bue;
          text-decoration: line-through;
          text-decoration-color: red;
          text-decoration-thickness: 2px;
        }
      }

      .description {
        color: $main-bue;
        font-size: 16px;
      }

      .expiry_timeline {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 15px;

        .time_div {
          display: flex;
          flex-direction: column;
          gap: 5px;

          .time_denom {
            width: 20px;
            height: 20px;
            border: 1px solid $section-bg;
          }
        }
      }
    }
  }
}
