.navbar {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  width: calc(100vw - 30rem);
}
.navbar .active-link {
  color: #25bd01;
  border-right: 2px solid #25bd01;
  padding-right: 15px;
}
.navbar .shopping_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.navbar .shopping_menu .shopping_container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.navbar .shopping_menu .active-link {
  color: #25bd01;
  border-right: 2px solid #25bd01;
  padding-right: 15px;
}
.navbar button {
  background-color: #25bd01;
  border: none;
  padding: 15px 30px;
  border-radius: 7px;
  color: #fff;
  font-weight: bold;
}