@import "../../styles/variables.scss";

.blog-left {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(19, 1fr);
  row-gap: 10px;

  .left-blog-box {
    border: 1px solid $section-bg;
    border-radius: 5px;
    padding: 5px 10px;

    &:last-of-type {
      padding: 0;
    }
  }

  .box2 {
    grid-row: span 4;
  }

  .box3 {
    grid-row: span 5;
  }

  .box4 {
    grid-row: span 5;
  }

  .box5 {
    grid-row: span 4;
  }
}
