.blog-left {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(19, 1fr);
  row-gap: 10px;
}
.blog-left .left-blog-box {
  border: 1px solid rgba(221, 200, 200, 0.5);
  border-radius: 5px;
  padding: 5px 10px;
}
.blog-left .left-blog-box:last-of-type {
  padding: 0;
}
.blog-left .box2 {
  grid-row: span 3;
}
.blog-left .box3 {
  grid-row: span 5;
}
.blog-left .box4 {
  grid-row: span 5;
}
.blog-left .box5 {
  grid-row: span 4;
}