.categories-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.categories-box .top-div {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.categories-box .top-div h1 {
  font-size: 18px;
  color: #121935;
  font-weight: bold;
}
.categories-box .top-div .underline {
  height: 5px;
  width: 50px;
  background-color: #25bd01;
}
.categories-box .lower-div {
  height: calc(100% - 50px);
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.categories-box .lower-div .item-container {
  display: flex;
  justify-content: space-between;
  color: #121935;
  transition: all 0.2s ease-in-out;
}
.categories-box .lower-div .item-container:hover {
  color: #25bd01;
}