.socials {
  display: flex;
  align-items: center;
  gap: 10px;
}
.socials .social-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 25px;
  width: 25px;
  border: 1px solid rgba(221, 200, 200, 0.5);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}
.socials .social-icon-box .post-social-icon {
  font-size: 12px;
}
.socials .social-icon-box span {
  display: none;
  font-size: 12px;
  color: #121935;
}
.socials .social-icon-box:hover {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 30px;
  padding: 0 5px;
}
.socials .social-icon-box:hover span {
  display: inline;
}