@import "../../styles/variables.scss";

.menu_searchbox {
  display: flex;
  align-items: center;
  gap: 0;
  background-color: $white;
  width: fit-content;
  border-radius: 30px;
  padding: 12px 20px;
  gap: 10px;
  position: relative;
}
