@import "../../styles/variables.scss";

.menu_searchbox {
  display: flex;
  align-items: center;
  gap: 0;
  background-color: $white;
  width: fit-content;
  border-radius: 15px;
  padding: 7px 20px;
  gap: 10px;
  position: relative;

  .menuContainer {
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgba(0, 0, 0, 0.6);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    padding-right: 10px;
    font-size: 18px;

    h2 {
      font-size: 16px;
    }
  }

  form {
    display: flex;
    gap: 0;

    input {
      border: none;
      outline: none;
    }

    button {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 50px;
      border: none;
      background-color: $main-green;
      border-radius: 0 15px 15px 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
