.menu_searchbox {
  display: flex;
  align-items: center;
  gap: 0;
  background-color: #fff;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 30px;
  padding: 12px 20px;
  gap: 10px;
  position: relative;
}
.menu_searchbox .menuContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgba(0, 0, 0, 0.6);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding-right: 10px;
  font-size: 18px;
}
.menu_searchbox .menuContainer .dropdown {
  position: relative;
}
.menu_searchbox .menuContainer .dropdown button {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  border: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
}
.menu_searchbox .menuContainer .dropdown .dropdown-menu {
  position: absolute;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 20;
  width: 200px;
  left: -20px;
  top: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.menu_searchbox .menuContainer .dropdown .dropdown-menu h4 {
  width: 100%;
  text-align: center;
  margin: 5px 0;
}
.menu_searchbox .menuContainer .dropdown .dropdown-menu .dropdown-list {
  list-style: none;
  padding: 5px 0;
  padding-left: 30px;
  transition: all 0.3s ease-in-out;
  width: 100%;
  color: rgba(0, 0, 0, 0.91);
}
.menu_searchbox .menuContainer .dropdown .dropdown-menu .dropdown-list:hover {
  border-left: 4px solid #25bd01;
  padding-left: 26px;
  background-color: rgba(221, 200, 200, 0.5);
}
.menu_searchbox .menuContainer .dropdown .dropdown-menu .dropdown-list .dropdown-item {
  font-size: 16px;
}
.menu_searchbox form {
  display: flex;
  gap: 0;
}
.menu_searchbox form input {
  border: none;
  outline: none;
  font-size: 18px;
}
.menu_searchbox form button {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 50px;
  border: none;
  background-color: #25bd01;
  border-radius: 0 30px 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
}
.menu_searchbox .search-dropdown {
  position: absolute;
  top: 50px;
  left: 150px;
  background-color: #fff;
  color: black;
  text-align: center;
  min-width: 280px;
  z-index: 10;
  box-shadow: 0 0 10px rgba(221, 200, 200, 0.8);
  padding: 5px 10px;
}
.menu_searchbox .search-dropdown .product-item {
  background-color: rgba(221, 200, 200, 0.3);
  padding: 2px 0;
  margin: 3px 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.menu_searchbox .search-dropdown .product-item:hover {
  background-color: rgba(221, 200, 200, 0.8);
}