@import "../../styles/variables.scss";

.blog {
  margin: 3rem 15rem;
  margin-bottom: 5rem;
  text-align: center;

  h3 {
    font-size: 18px;
    color: $main-bue;
    text-transform: uppercase;
    opacity: 0.8;
    font-weight: 300;
  }

  h1 {
    font-size: 30px;
    color: $main-bue;
    text-transform: capitalize;
  }

  p {
    color: $main-bue;
    font-size: 18px;
    margin-top: 10px;
    opacity: 0.8;
    margin-bottom: 30px;
  }
  .blog-container {
    display: flex;
    justify-content: space-between;
  }
}
