.blog {
  margin: 3rem 15rem;
  margin-bottom: 5rem;
  text-align: center;
}
.blog h3 {
  font-size: 18px;
  color: #121935;
  text-transform: uppercase;
  opacity: 0.8;
  font-weight: 300;
}
.blog h1 {
  font-size: 30px;
  color: #121935;
  text-transform: capitalize;
}
.blog p {
  color: #121935;
  font-size: 18px;
  margin-top: 10px;
  opacity: 0.8;
  margin-bottom: 30px;
}
.blog .blog-container {
  display: flex;
  justify-content: space-between;
}