.blog-post-left .date-comment {
  height: 20px;
  display: flex;
  width: inherit;
  justify-content: start;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  color: #121935;
  font-size: 12px;
  text-transform: capitalize;
}
.blog-post-left .date-comment .vert-line {
  width: 2px;
  height: 70%;
  background-color: #121935;
  opacity: 0.5;
}