.carousel-right {
  flex: 1;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: end;
}
.carousel-right img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  background: transparent;
  -o-object-fit: cover;
     object-fit: cover;
}