.blog-unit-item {
  display: flex;
  box-shadow: 0 0 15px rgba(221, 200, 200, 0.5);
  border-radius: 10px;
  height: 220px;
  gap: 10px;
  transition: all 0.5s ease-in-out;
}
.blog-unit-item .blog-unit-image {
  height: 100%;
  width: 300px;
  border-radius: 10px;
  background-color: rgba(221, 200, 200, 0.2);
  display: flex;
  place-content: center;
}
.blog-unit-item .blog-unit-image img {
  width: 100%;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.blog-unit-item .blog-unit-details {
  width: calc(100% - 330px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0;
}
.blog-unit-item .blog-unit-details .top-para {
  color: #25bd01;
  text-transform: capitalize;
  opacity: 0.5;
}
.blog-unit-item .blog-unit-details h1 {
  font-size: 14px;
}
.blog-unit-item .blog-unit-details .unit-date-comment {
  height: 20px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
  color: #121935;
  font-size: 12px;
  text-transform: capitalize;
}
.blog-unit-item .blog-unit-details .unit-date-comment .unit-date,
.blog-unit-item .blog-unit-details .unit-date-comment .unit-comment,
.blog-unit-item .blog-unit-details .unit-date-comment .unit-category {
  text-wrap: nowrap;
  color: #121935;
}
.blog-unit-item .blog-unit-details .unit-date-comment .unit-vert-line {
  width: 2px;
  height: 70%;
  background-color: #121935;
  opacity: 0.6;
}
.blog-unit-item .blog-unit-details p {
  font-size: 12px;
  text-transform: lowercase;
  text-align: left;
}
.blog-unit-item .blog-unit-details .unit-blog-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px 10px;
  border: 1.5px solid #25bd01;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.blog-unit-item .blog-unit-details .unit-blog-link:hover {
  gap: 20px;
  background-color: #25bd01;
  color: #fff;
}