@import "../../styles/variables.scss";

tr {
  padding: 5px 0;

  td {
    text-align: center;
    padding: 5px 0;
    border-bottom: 1.5px solid $section-bg;

    img {
      width: 60px;
      object-fit: cover;
    }

    button {
      cursor: pointer;
    }
  }
}
